.app-small-card {
  width: calc(33.33% - 20px);
  margin: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.small-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-wrap: wrap; /* Permite a quebra de linha */
}

.small-card-image {
  margin-right: 10px;
  margin-bottom: 10px;
}

.small-card-image img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
}

.small-card-content {
  padding: 15px;
}

.small-card-content h3 {
  margin: 0;
}
