<app-menu-title></app-menu-title>
<div class="small-card-container">
  <div *ngFor="let imageUrl of photoCovers" class="small-card-image">
    <img [src]="imageUrl" alt="Imagem do Card" />
  </div>
  <div class="small-card-content">
    <h3>{{ contentDescription }}</h3>
    <div class="botao-atualizar">
      <div class="button-container">
        <button class="Gerador_fotos" (click)="atualizarFotos()">
          {{ textoBotaoFotos }}
        </button>
        <button class="Gerador_frases" (click)="setFraseCarinhosa()">
          Gerar Frase Carinhosa
        </button>
        <div class="frase-container">
          <p>{{ fraseCarinhosa }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
